/* Geral Configuration */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.hidden{
    display: none;
}
.revealed{
    display: block;
}
/* Style guide */
:root {
  --color-XL-txt: #636363;
  --color-SM-txt: #767676;
  --color-SIM-bg: #b9b9b95e;
  --color-btn-bg: #df209f;
  --color-btn-txt: #ffffff;
  --color-btm-img: #000000;

  --font-Sans: "Open Sans", sans-serif;
  --font-One: "Poiret One", sans-serif;
}


/* Header configuration */
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
header nav{
  width: 90%;
  
  border-bottom: 1px solid var(--color-SIM-bg);
}
header nav ul{
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}
header nav ul .left{
  height: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
header nav ul .left img{
  width: 150px;
  object-fit: cover;
}
header nav ul .left .box-title {
  display: flex;
  gap: 10px;
}
header nav ul .left .box-title .title {
  font-weight: bold;
  font-size: 50px;
  font-family: var(--font-Sans);
}
header nav ul .left .box-title .frist {
  color: var(--color-XL-txt);
}
header nav ul .left .box-title .second {
  color: var(--color-btn-bg);
}

header nav ul .box-buttons{
  height: 100%;
  display: flex;
  gap: 4%;
  align-items: center;

}
header nav ul .box-buttons button {
  width: 140px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 14px;
}
header nav ul .box-buttons button.credt{
  background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
  border: none;
}
header nav ul .box-buttons button.profile{
   padding: 2px;
  color: var(--color-XL-txt); 
  background-color: var(--color-btn-txt);
  border: none;
}
header nav ul .box-buttons button.message{
   padding: 2px;
  color: var(--color-XL-txt); 
  background-color: var(--color-btn-txt);
  border: none;
}



/* Style Information box */
#Information {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  background-color: var(--color-btm-img);
  background-image: url("../src/assets/Informationbottom.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#Information .top {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#Information .top img {
  width: 150px;
  object-fit: cover;
}
#Information .top button {
  padding: 4px;
  width: 150px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  background-color: var(--color-SIM-bg);
  color: var(--color-btn-txt);
}
#Information .center {
  width: 80%;
  gap: 20px;
  flex-direction: column;
  display: flex;
  color: var(--color-btn-txt);
}
#Information .center .box-title {
  display: flex;
  gap: 10px;
}
#Information .center .box-title .title {
  font-weight: bold;
  font-size: 100px;
  font-family: var(--font-Sans);
}
#Information .center .frist {
  color: var(--color-btn-txt);
}
#Information .center .second {
  color: var(--color-btn-bg);
}
#Information .center .description {
  font-size: 40px;
  font-family: var(--font-One);
}
#Information .center button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  border-radius: 14px;
}
#Information .center button.from{
 background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
  border: none;
}
#Information .center button.ent {
  padding: 2px;
  color: var(--color-btn-txt); 
  border: 1px solid var(--color-SIM-bg);
  background-color: black;
 
}

/* Home configurations */

#Home{
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}

/* Posts configuraton */

#posts{
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.post{
  width: 200px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  background-color: red;
}
.post img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.post .informations{
  font-family: var(--font-Sans);
  font-weight: bold;
}
.post .informations .person-inf{
  color: var(--color-SM-txt); 
}












































@media (max-width: 700px) {
/* Geral configuration */
    .hidden{
    display: block;
}
.revealed{
    display: none;
}

/* Header configuration */

header nav{
  width: 90%;
  display: flex;
  border-bottom: none;
}
header nav ul .left img{
  width: 100px;
  object-fit: cover;
}
header nav ul .left .box-title {
  display: flex;
  gap: 10px;
}
header nav ul .left .box-title .title {
  font-weight: bold;
  font-size: 30px;
  font-family: var(--font-Sans);
}
header nav ul .left .box-title .frist {
  color: var(--color-btm-img);
}



/* Styled Information box */
#Information .top {
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}#Information .center {
  width: 80%;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: var(--color-btn-txt);
}
#Information .center .box-title .title {
  font-weight: bold;
  font-size: 50px;
  font-family: var(--font-Sans);
}
#Information .center .description {
  font-size: 22px;
  font-family: var(--font-One);
}
}
